<form class="example-form" [formGroup]="form" (ngSubmit)="onSubmit()">
  <md-input-container>
    <input mdInput formControlName="title" placeholder="Title">
  </md-input-container>

  <p>
    <md-input-container class="example-full-width">
      <textarea
        mdInput
        formControlName="content"
        placeholder="Content"
      >
      </textarea>
    </md-input-container>
  </p>

  <button md-button (click)="preview()">Preview</button>
  <button md-button>Submit</button>
</form>

<div [innerHTML]="htmlPreview"></div>
